*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Nav Compo */
.nav_compo{
  width: 100%;
  padding: 20px;
  /* color: rgb(10,60,200); */
  box-shadow:0 26px 80px rgba(0,0,0,1);
}

/* Banner Compo */
.banner_compo{
  width: 100%;
  padding: 30px;
  background-color: rgb(20, 180, 230);
  color: white;
}

.starter{
  font-size: 30px;
  font-weight: bold;
}

/* Form Compo */
.form_compo{
  width: 80%;
  margin: 30px auto;
}

.form_compo > form{
  display: flex;
  margin-top: 20px;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  gap: 20px;
}

.form_compo > form > input{
  width: 100%;
  padding: 12px 20px;
}

.form_compo > form > button{
  width: 100%;
  padding:12px 20px;
  background-color: rgb(20, 180, 230);
  color: white;
  border: none;
  color: white;
  font-size: 18px;
  cursor: pointer;
  border-radius: 5px;
}

/* Transaction Compo */
.transaction_compo{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.dark_bg{
  background-color: rgba(0,0,0,0.5);
  width: 100%;
  height: 100vh;
}

.transaction_container{
  position: absolute;
  top: 10vh;
  width: 90%;
  background-color: white;
  margin: 20px auto;
  height: 70vh;
  border-radius: 20px;
  border: 2px solid gray;
  box-shadow: 0 16px 30px rgba(0,0,0,0.3);
  left: 5%;
  padding: 30px;
  word-wrap: break-word;
  overflow-y: scroll;
  transition: .5s;
}

.cancel_dialogue{
  position: absolute;
  top: 5vh;
  right: 6%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  color: black;
  justify-items: center;
  height: 50px;
  width: 50px;
  padding:7px;
  border-radius: 50%;
  cursor: pointer;
}

.details{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  flex-direction: column;
  margin-top: 30px;
}

.detail{
  width: 100%;
  padding: 17px;
  background-color: rgba(100, 180, 230, 0.2);
  color: rgba(100, 180, 230, 1);
  border-radius: 12px;

}

/* Loader */
.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  border: 3px solid;
  border-color: #FFF #FFF transparent transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  position: absolute;
  top: 40vh;
  left: 48%;
}
.loader::after,
.loader::before {
  content: '';  
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 3px solid;
  border-color: transparent transparent rgb(20, 180, 230) rgb(20, 180, 230);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-sizing: border-box;
  animation: rotationBack 0.5s linear infinite;
  transform-origin: center center;

}
.loader::before {
  width: 32px;
  height: 32px;
  border-color: #FFF #FFF transparent transparent;
  animation: rotation 1.5s linear infinite;
}
    
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 
@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
    

.opp_container{
  width: 90%;
  margin: 20px auto;
  display: flex;
  align-items: center;

  justify-content: space-between;
}

.opp{
  background-color: rgba(90,90,90,0.2);  padding: 10px 20px;
  border-radius: 6px;
}